<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Multiple Modals Toggle Example</title>
    <link rel="stylesheet" href="./audio.css" />
    <link rel="stylesheet" href="../../assets/css/normalize.css" />
    <link rel="stylesheet" href="../../assets/css/style.css" />
  </head>

  <body>
    <div class="container">
      <figure>
        <figcaption>Listen to the T-Rex:</figcaption>
        <audio controls src="../../assets/audios/rain-01.mp3">
          <a href="/media/cc0-audio/t-rex-roar.mp3"> Download audio </a>
        </audio>
      </figure>
    </div>
  </body>
</html>
