<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Multiple Modals Toggle Example</title>
    <link rel="stylesheet" href="./video.css" />
    <link rel="stylesheet" href="../../assets/css/normalize.css" />
    <link rel="stylesheet" href="../../assets/css/style.css" />
  </head>

  <body>
    <div class="container">
      <video class="video-content" controls width="250">
        <source src="../../assets/videos/pexels_videos_1847910 (1080p).mp4" type="video/mp4" />
      </video>
    </div>
  </body>
</html>
