<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Multiple Modals Toggle Example</title>
    <link rel="stylesheet" href="./dropdown.css" />
    <link rel="stylesheet" href="../../assets/css/normalize.css" />
    <link rel="stylesheet" href="../../assets/css/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="dropdown-content">
        <button class="dropdown-toggle-button button">Dropdown</button>
        <ul class="dropdown-menu">
          <li class="dropdown-item"><a href="#" class="dropdown-link">
            Link 1
          </a></li>
          <li class="dropdown-item"><a href="#" class="dropdown-link">
            Link 2
          </a></li>
          <li class="dropdown-item"><a href="#" class="dropdown-link">
            Link 3
          </a></li>
          <li class="dropdown-item"><a href="#" class="dropdown-link">
            Link 4
          </a></li>
        </ul>
      </div>
    </div>
    <script src="./dropdown.js"></script>
  </body>

</html>
